{% extends "base.html" %} {% block title %} Local Chat {% endblock %} {% block
content %}
<div id="chatroom">
  <h2>Chat</h2>
  <div id="messages">
    {% for message in messages %}
    <div>
      <span
        ><strong><a href="/user/{{ message[3] }}">{{ message[1] }}</a></strong
        >[{{ message[0] }}]:</span
      >
      <span>{{ message[2] }}</span>
    </div>
    {% endfor %}
  </div>
  <input type="text" id="messageInput" placeholder="Type a message..." />
  <button id="sendMessageBtn" onclick="sendMessage()">Send</button>
  <button onclick="clearChat()">Clear Chat</button>
</div>
<script src="/static/chat.js"></script>
<script src="/static/utils.js"></script>
{% endblock %}
