{% extends "base.html" %} {% block title %} Local Chat {% endblock %} {% block
content %}

<div id="chatroom" class="container">
  <h2>Chat Channel</h2>
  <div id="messages">
    {% for message in messages %}
    <div>
      <!-- Store the UTC timestamp in a data-attribute for easy access by JS -->
      <span class="timestamp" data-utc="{{ message['timestamp'] }}">
        [{{ message['timestamp'] }}]
        <!-- This will be replaced by JS -->
      </span>
      <strong>
        <a href="/user/{{ message['id'] }}"> {{ message['username'] }} </a>
      </strong>
      : {{ message['content' ]}}
    </div>
    {% endfor %}
  </div>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      id="messageInput"
      placeholder="Type a message..."
      aria-label="Message Input"
      aria-describedby="button-addon"
    />
    <div class="input-group-append">
      <button
        id="sendMessageBtn"
        onclick="sendMessage()"
        class="btn btn-primary"
        type="button"
      >
        Send
      </button>
    </div>
  </div>
</div>

{% endblock %}
