<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Profile</h2>
      <form
        action="/user/{{user[0]}}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="{{ user[1] }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            value="{{ user[2] }}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="{{ user[3] }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="bio">Bio:</label>
          <textarea class="form-control" id="bio" name="bio" rows="3">
            {{user[5]}}</textarea
          >
        </div>
        <div class="form-group">
          <label for="profile_picture">Profile Picture:</label>
          <input
            type="file"
            class="form-control-file"
            id="profile_picture"
            name="profile_picture"
          />
        </div>
        {% if user[6] %}
        <div class="form-group">
          <img
            src="/{{ user[6] }}"
            alt="Profile Picture"
            class="img-thumbnail"
            width="150"
          />
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Update Profile</button>
      </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
